---
interface arr {
  name: string;
  description: string;
}
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
const protoArr: arr[] = [
  { name: "Concerts", description: "My concerts." },
  { name: "Nature", description: "My photos of nature." },
  { name: "Concerts", description: "My concerts." },
  { name: "Nature", description: "My photos of nature." },
];
---

<Layout title="The Portfolio">
  <main>
    <div class="foot-wrap">
      <img class="foot" src="" alt="" style="width: 100%; object-fit: cover;" />
    </div>
    <Header />
    {
      protoArr.map((obj) => {
        return <Card name={obj.name} description={obj.description} />;
      })
    }
    <Services />
    <Footer />
  </main>
</Layout>

<style>
  main {
    position: relative;
  }
  .foot-wrap {
    width: 100vw;
    height: 100vh;
    background-color: rgba(100, 100, 100, 0.8);
    z-index: 2;
    padding: 5vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
  }
  .displ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  img {
    cursor: pointer;
  }
</style>

<script src="../script.ts"></script>
