---
interface Collection {
  contentTypeId: "collection";
  fields: {
    collectionName: EntryFieldTypes.Text;
    description: EntryFieldTypes.Text;
    photos: EntryFieldTypes.AssetLink[];
    mainPhotos: EntryFieldTypes.AssetLink[];
  };
}
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import Services from "../components/Services.astro";
import Footer from "../components/Footer.astro";
import Fullscreen from "../components/Fullscreen.astro";

import { contentfulClient } from "../lib/contentful";
import type { EntryFieldTypes } from "contentful";
import slugify from "slugify";

const entries = await contentfulClient.getEntries<Collection>({
  content_type: "collection",
});
---

<Layout title="The Portfolio">
  <main>
    <Fullscreen />
    <Header title="Daniel Král" />
    {
      entries.items.map((entry) => {
        return (
          <Card
            name={entry.fields.collectionName}
            description={entry.fields.description}
            mainPhotos={entry.fields.mainPhotos}
            link={`/${slugify(entry.fields.collectionName).toLowerCase()}`}
          />
        );
      })
    }
    <Services services={["Osobní photoshooty", "Svatby"]} />
    <Footer />
  </main>
</Layout>

<style>
  main {
    position: relative;
  }
</style>

<script src="../script.ts"></script>
