<footer>
  <p>Vyrobeno <a href="https://github.com/PepaHrebec">Josefem Hřebcem</a></p>
</footer>
<style>
  footer {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  p {
    font-size: 12px;
    color: #727171;
  }
  a {
    color: #727171;
    &:hover {
      color: black;
    }
  }
</style>
