---
const { title } = Astro.props;
---

<header>
  <p class="name">{title}</p>
</header>
<style>
  header {
    width: 100vw;
    position: sticky;
    top: 0;
    background-color: rgba(255, 253, 246, 0.7);
    display: flex;
    align-items: center;
    padding: 13px;
    z-index: 1;
  }
  .name {
    padding-left: 5vw;
    font-weight: bold;
    font-size: 44px;
  }
</style>
