---
const { services } = Astro.props;
---

<div class="main-container">
  <h2>Služby</h2>
  <ul>
    {
      (services as string[]).map((service) => {
        return <li>{service}</li>;
      })
    }
  </ul>
</div>
<style>
  .main-container {
    width: 100vw;
    padding: 64px 5vw 0px;
    display: flex;
    flex-direction: column;
  }
  ul {
    list-style: none;
  }
  h2 {
    font-weight: bold;
    font-size: 36px;
  }
  li {
    font-size: 18px;
  }
  @media screen and (min-width: 1600px) {
    .main-container {
      max-width: 1600px;
      margin: 0 auto;
    }
  }
</style>
