<div class="main-container">
  <h2>Služby</h2>
  <ul>
    <li>Fotografování</li>
  </ul>
</div>
<style>
  .main-container {
    width: 100vw;
    padding: 64px 5vw 0px;
    display: flex;
    flex-direction: column;
  }
  ul {
    list-style: none;
  }
  h2 {
    font-weight: bold;
    font-size: 36px;
  }
  li {
    font-size: 18px;
  }
</style>
